// --------------------------------------------------
// VARIABLES 
// --------------------------------------------------
$nav-wrap: '.nav-wrap';
$logo-wrap: '.logo-wrap';
$nav-links: '.nav-links';


// --------------------------------------------------
// PLACEHOLDERS 
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS 
// --------------------------------------------------
#{$nav-wrap} {
    @include size( 100% auto );
    @include display(block);

    padding: 0 2rem;
    margin: 0 auto;
}


#{$nav-wrap}__inner {
    @include size( 100% 5rem );
    @include display(flex);

    max-width: 1024px; /// TEMP
    padding: 0;
    margin: 0 auto;
}


#{$logo-wrap} {
    @include size( 15rem 100% );

    display: block;
    background-color: getColor( base, placeholder ); /// TEMP
}


#{$nav-links} {
    @include display(flex);

    padding: 0;
    margin: 0;
    background-color: getColor( light, placeholder ); /// TEMP
    flex: 1 0 auto;
    justify-content: flex-end;
    list-style: none;
}


#{$nav-links}__item {
    display: block;

    font-size: 1.2rem;

    &:not(:last-child) {
        margin-right: 2rem;
    }
    
    a {
        line-height: 5rem;
    }
}
