$post-content: '.post-content';
$post-header: '.post-header-wrap';
$post-body: '.post-body-wrap';


// ------------------------------------------------------------
// PLACEHOLDERS
// ------------------------------------------------------------


// ------------------------------------------------------------
// SELECTORS
// ------------------------------------------------------------
#{$post-content} {
	@include size(100% auto);

	background-color: getColor( light, placeholder ); /// TEMP
}

#{$post-content}__inner {
	@extend %__inset-grid-base;

	background-color: getColor( light, placeholder ); /// TEMP
}

#{$post-header},
#{$post-body} {
	@include push(1 of 12);
	@include span(10 of 12);

	background-color: getColor( light, placeholder ); /// TEMP
}